<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title> Aplicacion Web MVC Con Spring Boot </title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:fragment="cabecero">
            <h1>Aplicacion Web MVC Con Spring Boot</h1>
        </header>
        <footer th:fragment="pie">
            <span>Juan pablo Blanco vasquez</span>
            <p><a href="https://www.youtube.com/">
                  Video De Explicacion
            </a>
        </p>
    </footer>
</body>
</html>