<!DOCTYPE html>

<html xmlns: th="http://www.thymeleaf.org">
    <head>
        <title>Crudl mvc con Spring Boot </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>PAGINA DE INICIO</h2>
        <a th:href="@{/agregar}">Agregar Usuario</a>
        <h4>LISTAS DE PERSONAS</h4>
        <hr>
        <div th:if ="${usuarios !=null and !usuarios.empty}">
            <table border="1">
                <tr>
                    <th>CEDULA</th>
                    <th>PASSWORD</th>
                    <th>apellidos</th>
                    <th>rol</th>
                    <th>email</th>
                    <th>telefono</th>
                    <th>estado</th>
                    <th>fecha de registro</th>
                    
                </tr>
                <tr th:each ="u:${usuarios}">
                    <td th:text="${u.cedula}"></td>
                    <td th:text="${u.password}"></td> 
                    <td th:text="${u.apellidos}"></td>
                    <td th:text="${u.rol}"></td>
                    <td th:text="${u.email}"></td>
                    <td th:text ="${u.telefono}"></td>
                    <td th:text ="${u.estado}"></td>
                    <td th:text ="${u.fecha_registro}"></td>
                </tr>              
            </table>
        </div>
        <div th:if="${usuarios == null or usuarios.empty}">
            La lista de Usuario esta Vacia
        </div>
    </body>
</html>
